.contact__form .form-control {
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: var(--bg-color);
    border-radius: 0 !important;
    border: 1px solid #FFFFFF;
    font-family: "Raleway", serif !important;
}

.contact__form input.form-control {
    margin-bottom: 2em;
    height: calc(2.5em + .75rem + 2px);
    font-family: "Raleway", serif !important;
}

.btn_ac_btn {
    border: #FFFFFF;
    color: #FFFFFF;
    background-color: var(--bg-color);
    border-radius: 0 !important;
    border: 1px solid #FFFFFF;
    font-family: "Raleway", serif !important;
    width: 20%;
}

.contact_details {
    font-family: "Raleway", serif !important;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}